<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/cv.css" />
    <link rel="icon" href="../assets/logo.png" type="image/x-icon" />
    <title>CV | Nitro Codes</title>
  </head>
  <body>
    <div class="header">
      <div class="header-image">
        <a href="../index.html">
          <img src="../assets/logo.png" alt="imagen-1" width="90" />
        </a>
      </div>
      <div class="header-menu">
        <a href="../components/sobremi.html" class="redirect">
          <span class="header-menu--options">Sobre mí</span>
        </a>
        <span class="bar">|</span>
        <a href="../components/cv.html" class="redirect">
          <span class="header-menu--options">CV</span>
        </a>
        <span class="bar">|</span>
        <a href="../components/portfolio.html" class="redirect">
          <span class="header-menu--options">Portfolio</span>
        </a>
        <span class="bar">|</span>
        <a href="../components/temario.html" class="redirect">
          <span class="header-menu--options">Temario</span>
        </a>
        <span class="bar">|</span>
        <a href="../cv/MemoriaPortfolioWeb_LM_IsabelAndaluz.pdf" class="redirect button-memorie" target="_blank">
          <span class="header-menu--options button-memorie--color"
            >Memoria</span
          >
        </a>
      </div>
    </div>

    <div class="cv">
      <div class="cv-expertise">
        <p class="cv-expertise--title">Isabel Andaluz Fernández</p>
        <div class="expertise-card">
          <p class="expertise-card--title">Estudios</p>
          <div class="line">
            <div class="card-exp">
              <p class="card-exp--title">
                Grado Superior en Desarrollo de Aplicaciones Multiplataforma
              </p>
              <p class="card-exp--center">CES Juan Pablo II</p>
              <p class="card-exp--date">Septiembre 2023 - En la actualidad</p>
            </div>
            <div class="card-exp">
              <p class="card-exp--title">Grado en Diseño</p>
              <p class="card-exp--center">
                Facultad de Bellas Artes, Universidad Complutense de Madrid
              </p>
              <p class="card-exp--date">Septiembre 2019 - Julio 2023</p>
            </div>
            <div class="card-exp">
              <p class="card-exp--title">Bachillerato de Excelencia</p>
              <p class="card-exp--center">Instituto San Mateo</p>
              <p class="card-exp--date">Septiembre 2017 - Mayo 2019</p>
            </div>
          </div>
        </div>

        <div class="expertise-card">
          <p class="expertise-card--title-two">Experiencia</p>
          <div class="line">
            <div class="card-exp">
              <p class="card-exp--title">Diseñadora gráfica | Prácticas</p>
              <p class="card-exp--center">
                Brand Dawson | Julio 2023 - Agosto 2023 | Getafe, Madrid
              </p>
              <ul class="card-exp--data">
                <li>Brand management y soluciones de marketing digital.</li>
                <li>
                  Diseño de contenidos corporativos: banners, presentaciones,
                  vídeos.
                </li>
                <li>Gestión de perfiles sociales de clientes.</li>
                <li>
                  Diseño de sitios webs nuevos y modificaciones de webs actuales.
                </li>
                <li>Gestión de campañas de pago (Google Ads y Facebook Ads).</li>
                <li>Elaboración de reporting.</li>
              </ul>
            </div>
            <div class="card-exp">
              <p class="card-exp--title">Dependiente de tienda</p>
              <p class="card-exp--center">
                MUNICH | Diciembre 2021 - Febrero 2022 | Leganés, Madrid
              </p>
              <ul class="card-exp--data">
                <li>Organización visual del producto en la tienda.</li>
                <li>Trabajo en equipo y desarrollo de la comunicación.</li>
              </ul>
            </div>
            <div class="card-exp">
              <p class="card-exp--title">
                Dependiente de tienda | Departamento de Ocio
              </p>
              <p class="card-exp--center">
                El Corte Inglés | Julio 2020 - Mayo 2021 | Arroyomolinos, Madrid
              </p>
              <ul class="card-exp--data">
                <li>
                  Creación de la imagen visual de la tienda (Visual
                  Merchandising).
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="cv-aboutme">
        <p class="cv-expertise--subtitle">
          FullStack Developer & Graphic Designer
        </p>
        <div class="cv-aboutme--habilities">
          <p class="cv-aboutme--title">HABILIDADES</p>
          <div class="line-two">
            <div class="card-aboutme">
              <p class="card-aboutme--title">Dominio del paquete Adobe</p>
              <div>
                <div>
                  <img src="../assets/adobe/audicion-de-adobe.png" alt="" width="50"/>
                  <img src="../assets/adobe/codificador-de-medios.png" alt="" width="50"/>
                  <img
                    src="../assets/adobe/despues-de-los-efectos.png"
                    alt=""
                    width="50"
                  />
                  <img src="../assets/adobe/estreno-profesional.png" alt="" width="50"/>
                  <img src="../assets/adobe/fresco-de-adobe.png" alt="" width="50"/>
                </div>
                <div>
                  <img src="../assets/adobe/ilustrador.png" alt="" width="50"/>
                  <img src="../assets/adobe/indesign.png" alt="" width="50"/>
                  <img src="../assets/adobe/photoshop.png" alt="" width="50"/>
                  <img src="../assets/adobe/puente-de-adobe.png" alt="" width="50"/>
                  <img
                    src="../assets/adobe/sala-de-iluminacion-de-photoshop.png"
                    alt=""
                    width="50"
                  />
                </div>
              </div>
              <p class="card-aboutme--title">
                Dominio de aplicaciones de diseño variadas:
                <span class="card-aboutme--info"
                  >Autodesk Sketchbook, Procreate, Krita, Canva, Figma, DALL·E
                  2, Wix.</span
                >
              </p>
              <p class="card-aboutme--title">Habilidades de programación</p>
              <div class="programming-icons">
                <img src="../assets/icons-programming/html-5.png" alt="html" width="50">
                <img src="../assets/icons-programming/css-3.png" alt="css" width="50">
                <img src="../assets/icons-programming/js.png" alt="javascript" width="50">
                <img src="../assets/icons-programming/java.png" alt="java" width="50">
                <img src="../assets/icons-programming/mysql.png" alt="mysql" width="50">
              </div>
              <p class="card-aboutme--title">
                Habilidades sociales:
                <span class="card-aboutme--info"
                  >ventas, atención al cliente, trabajo en equipo, redes
                  sociales.</span
                >
              </p>
            </div>
          </div>

          <p class="cv-aboutme--title--two">IDIOMAS</p>
          <div class="line-two">
            <div class="card-aboutme">
              <p class="card-aboutme--title">Inglés</p>
              <span class="card-aboutme--info--two">- Título "First Certificate", Instituto Cambridge. Nivel B2.</span>
              <p class="card-aboutme--title">Alemán</p>
              <span class="card-aboutme--info--two">- Dos cursos de alemán, Instituto San Mateo. Nivel A1.2</span>
              <p class="card-aboutme--title">Español</p>
              <span class="card-aboutme--info--two">- Nativo</span>
            </div>
          </div>

          <div class="download-cv">
            <a href="../cv/Cv_Español_1.pdf" download="Cv_Español_1.pdf">
              <p class="cv-aboutme--title--three">Descargar CV</p>
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="footer">
      <div>
        <span class="footer-text">&copy;2024 Isabel Andaluz Fernández</span>
      </div>
      <div>
        <span class="footer-text">FullStack Developer</span>
      </div>
      <div class="icons">
        <a href="https://github.com/whoisnitro" target="_blank">
          <img
            src="../assets/icons/github.png"
            alt="github"
            width="32"
            class="img"
          />
        </a>
        <a href="https://www.linkedin.com/in/isabelandaluz/" target="_blank">
          <img
            src="../assets/icons/linkedin.png"
            alt="linkedin"
            width="32"
            class="img"
          />
        </a>
        <a href="https://www.instagram.com/art.nitro/?hl=es" target="_blank">
          <img
            src="../assets/icons/instagram.png"
            alt="instagram"
            width="32"
            class="img"
          />
        </a>
      </div>
    </div>
  </body>
</html>
