<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/portfolio.css">
    <link rel="icon" href="../assets/logo.png" type="image/x-icon">
    <title>Portfolio | Nitro Codes</title>
  </head>
  <body>
    <div class="header">
      <div class="header-image">
        <a href="../index.html">
          <img src="../assets/logo.png" alt="imagen-1" width="90" />
        </a>
      </div>
      <div class="header-menu">
        <a href="../components/sobremi.html" class="redirect">
          <span class="header-menu--options">Sobre mí</span>
        </a>
        <span class="bar">|</span>
        <a href="../components/cv.html" class="redirect">
          <span class="header-menu--options">CV</span>
        </a>
        <span class="bar">|</span>
        <a href="../components/portfolio.html" class="redirect">
          <span class="header-menu--options">Portfolio</span>
        </a>
        <span class="bar">|</span>
        <a href="../components/temario.html" class="redirect">
          <span class="header-menu--options">Temario</span>
        </a>
        <span class="bar">|</span>
        <a href="../cv/MemoriaPortfolioWeb_LM_IsabelAndaluz.pdf" class="redirect button-memorie" target="_blank">
          <span class="header-menu--options button-memorie--color">Memoria</span>
        </a>
      </div>
    </div>
    <div class="portfolio-info">
      <div class="portfolio-info--one">
        <h3>Últimas experiencias</h3>
      </div>
      <div class="portfolio-info--two">
        <div class="portfolio-card">
          <a href="https://nitros-sneakers.netlify.app/" class="portfolio-card--data--title" target="_blank">
          <img src="../assets/screens/imagen-1.jpeg" alt="web-1" width="350" class="imagen-portfolio">
          </a>
          <div class="portfolio-card--data one">
            <a href="https://nitros-sneakers.netlify.app/" class="portfolio-card--data--title" target="_blank">Nitro's Sneakers</a>
            <span class="portfolio-card--data--subtitle">Proyecto tienda online de reventa de zapatillas</span>
            <div class="line"></div>
            <time datetime="January, 2023" class="time">Enero, 2023</time>
          </div>
        </div>

        <div class="portfolio-card">
          <a href="https://portfolio-acdes.netlify.app/" class="portfolio-card--data--title" target="_blank">
            <img src="../assets/screens/imagen-2.jpeg" alt="web-1" width="350" class="imagen-portfolio">
          </a>
          <div class="portfolio-card--data two">
            <a href="https://portfolio-acdes.netlify.app/" class="portfolio-card--data--title" target="_blank">AC Desing</a>
            <span class="portfolio-card--data--subtitle">Portfolio web de AC Desing</span>
            <div class="line"></div>
            <time datetime="December, 2022" class="time">Diciembre, 2022</time>
          </div>
        </div>

        <div class="portfolio-card">
          <a href="https://toysrus-winter-rebrand.netlify.app/" class="portfolio-card--data--title" target="_blank">
            <img src="../assets/screens/imagen-3.jpeg" alt="web-1" width="350" class="imagen-portfolio">
          </a>
          <div class="portfolio-card--data three">
            <a href="https://toysrus-winter-rebrand.netlify.app/" class="portfolio-card--data--title" target="_blank">Toys"R"Us</a>
            <span class="portfolio-card--data--subtitle">Rediseño de web Toys"R"Us</span>
            <div class="colaborator">
              <a href="../components/iker.html">
                <img src="../assets/other/iker.png" alt="iker" width="32" class="colaborator-img">
              </a>
            </div>
            <div class="line"></div>
            <time datetime="December, 2023" class="time">Diciembre, 2023</time>
          </div>
        </div>

        <div class="portfolio-card">
          <a href="https://puertas-logicas.netlify.app/" class="portfolio-card--data--title" target="_blank">
            <img src="../assets/screens/imagen-4.jpeg" alt="web-1" width="350" class="imagen-portfolio">
          </a>
          <div class="portfolio-card--data four">
            <a href="https://puertas-logicas.netlify.app/" class="portfolio-card--data--title" target="_blank">Puertas lógicas</a>
            <span class="portfolio-card--data--subtitle">Página informativa puertas lógicas</span>
            <div class="line"></div>
            <time datetime="November, 2023" class="time">Noviembre, 2023</time>
          </div>
        </div>

        <div class="portfolio-card">
          <a href="https://zoo-zooland.netlify.app/" class="portfolio-card--data--title" target="_blank">
            <img src="../assets/screens/imagen-5.jpeg" alt="web-1" width="350" class="imagen-portfolio">
          </a>
          <div class="portfolio-card--data five">
            <a href="https://zoo-zooland.netlify.app/" class="portfolio-card--data--title" target="_blank">Zoológico Zooland</a>
            <span class="portfolio-card--data--subtitle">Ejercicio recreando web zoológico</span>
            <div class="line"></div>
            <time datetime="November, 2023" class="time">Noviembre, 2023</time>
          </div>
        </div>

        <div class="portfolio-card">
          <a href="https://properties-css.netlify.app/" class="portfolio-card--data--title" target="_blank">
            <img src="../assets/screens/imagen-6.jpeg" alt="web-1" width="350" class="imagen-portfolio">
          </a>
          <div class="portfolio-card--data six">
            <a href="https://properties-css.netlify.app/" class="portfolio-card--data--title" target="_blank">Propiedades CSS</a>
            <span class="portfolio-card--data--subtitle">Página web de estilos y propiedades CSS</span>
            <div class="line"></div>
            <time datetime="February, 2024" class="time">Febrero, 2024</time>
          </div>
        </div>

      </div>

    <div class="footer">
      <div>
        <span class="footer-text">&copy;2024 Isabel Andaluz Fernández</span>
      </div>
      <div>
        <span class="footer-text">FullStack Developer</span>
      </div>
      <div class="icons">
        <a href="https://github.com/whoisnitro" target="_blank">
          <img
            src="../assets/icons/github.png"
            alt="github"
            width="32"
            class="img"
          />
        </a>
        <a href="https://www.linkedin.com/in/isabelandaluz/" target="_blank">
          <img
            src="../assets/icons/linkedin.png"
            alt="linkedin"
            width="32"
            class="img"
          />
        </a>
        <a href="https://www.instagram.com/art.nitro/?hl=es" target="_blank">
          <img
            src="../assets/icons/instagram.png"
            alt="instagram"
            width="32"
            class="img"
          />
        </a>
      </div>
    </div>
  </body>
</html>