<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/sobremi.css" />
    <link rel="icon" href="../assets/logo.png" type="image/x-icon" />
    <title>Sobre mí | Nitro Codes</title>
  </head>
  <body>
    <div class="header">
      <div class="header-image">
        <a href="../index.html">
          <img src="../assets/logo.png" alt="imagen-1" width="90" />
        </a>
      </div>
      <div class="header-menu">
        <a href="../components/sobremi.html" class="redirect">
          <span class="header-menu--options">Sobre mí</span>
        </a>
        <span class="bar">|</span>
        <a href="../components/cv.html" class="redirect">
          <span class="header-menu--options">CV</span>
        </a>
        <span class="bar">|</span>
        <a href="../components/portfolio.html" class="redirect">
          <span class="header-menu--options">Portfolio</span>
        </a>
        <span class="bar">|</span>
        <a href="../components/temario.html" class="redirect">
          <span class="header-menu--options">Temario</span>
        </a>
        <span class="bar">|</span>
        <a href="../cv/MemoriaPortfolioWeb_LM_IsabelAndaluz.pdf" class="redirect button-memorie" target="_blank">
          <span class="header-menu--options button-memorie--color"
            >Memoria</span
          >
        </a>
      </div>
    </div>

    <div class="sobremi">
      <div class="div-one"></div>
      <div class="div-two"></div>
      <div class="user">
        <div class="user-info">
          <img
            src="../assets/memoji2.png"
            alt="logo"
            width="200"
            class="memoji-circle"
          />
          <p class="user-info--title">Isabel Andaluz Fernández</p>
          <p class="user-info--subtitle">FullStack Developer</p>
          <p class="user-info--subtitleTwo">Graphic Designer</p>
        </div>
        <div class="user-social">
          <img src="../assets/icons/instagram.png" alt="instagram" width="25" />
          <img src="../assets/icons/github.png" alt="github" width="25" />
          <img src="../assets/icons/linkedin.png" alt="linkedin" width="25" />
        </div>
      </div>
      <div class="information">
        <p class="saludo">¡Hola! 👋🏻</p>
        <div class="sobremi-info">
          <span class="sobremi-texto"
            >Soy una <span class="highlights">diseñadora junior</span> con
            habilidades en todos los campos del
            <span class="highlights">diseño gráfico</span>,
            <span class="highlights">diseño web</span>, redes sociales y trabajo
            multidisciplinario. <br /><br />
          </span>

          <span class="sobremi-texto"
            >He estudiado en la
            <span class="highlights">Universidad Complutense de Madrid</span>
            desde 2019 hasta 2023, cursando el
            <span class="highlights">Grado en Diseño</span> impartido en la
            Facultad de Bellas Artes. <br /><br
          /></span>

          <span class="sobremi-texto">
            Pero, actualmente estoy estudiando
            <span class="highlights"
              >Desarrollo de Aplicaciones Multiplataforma</span
            >
            y mi objetivo profesional ideal sería poder combinar ambas áreas de
            conocimiento en mi carrera profesional. <br /><br
          /></span>

          <span class="sobremi-texto"
            >El último proyecto en el que he participado han sido prácticas de
            verano (2023) en un
            <span class="highlights">estudio de diseño gráfico profesional</span
            >, “Brand Dawson”. <br /><br
          /></span>

          <span class="sobremi-texto"
            >Me considero una persona flexible y que trabaja bien bajo presión,
            por lo que soy capaz de adaptarme a diferentes metodologías de
            trabajo.<br /><br
          /></span>

          <span class="sobremi-texto">
            Tengo muchas
            <span class="phrase"
              >ganas de formar parte de un equipo de
              desarrolladores/creativo</span
            >
            y poder contribuir en este área de trabajo, mientras aprendo de la
            experiencia.
            <p class="author">Isabel.</p>
          </span>
        </div>
      </div>
    </div>

    <div class="footer">
      <div>
        <span class="footer-text">&copy;2024 Isabel Andaluz Fernández</span>
      </div>
      <div>
        <span class="footer-text">FullStack Developer</span>
      </div>
      <div class="icons">
        <a href="https://github.com/whoisnitro" target="_blank">
          <img
            src="../assets/icons/github.png"
            alt="github"
            width="32"
            class="img"
          />
        </a>
        <a href="https://www.linkedin.com/in/isabelandaluz/" target="_blank">
          <img
            src="../assets/icons/linkedin.png"
            alt="linkedin"
            width="32"
            class="img"
          />
        </a>
        <a href="https://www.instagram.com/art.nitro/?hl=es" target="_blank">
          <img
            src="../assets/icons/instagram.png"
            alt="instagram"
            width="32"
            class="img"
          />
        </a>
      </div>
    </div>
  </body>
</html>
