<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/temario.css" />
    <link rel="icon" href="../assets/logo.png" type="image/x-icon" />
    <title>Temario | Nitro Codes</title>
  </head>
  <body>
    <div class="header">
      <div class="header-image">
        <a href="../index.html">
          <img src="../assets/logo.png" alt="imagen-1" width="90" />
        </a>
      </div>
      <div class="header-menu">
        <a href="../components/sobremi.html" class="redirect">
          <span class="header-menu--options">Sobre mí</span>
        </a>
        <span class="bar">|</span>
        <a href="../components/cv.html" class="redirect">
          <span class="header-menu--options">CV</span>
        </a>
        <span class="bar">|</span>
        <a href="../components/portfolio.html" class="redirect">
          <span class="header-menu--options">Portfolio</span>
        </a>
        <span class="bar">|</span>
        <a href="../components/temario.html" class="redirect">
          <span class="header-menu--options">Temario</span>
        </a>
        <span class="bar">|</span>
        <a href="../cv/MemoriaPortfolioWeb_LM_IsabelAndaluz.pdf" class="redirect button-memorie" target="_blank">
          <span class="header-menu--options button-memorie--color"
            >Memoria</span
          >
        </a>
      </div>
    </div>

    <div class="temario">
      <div class="temario-index" style="background-color: #e0e0e0; border-radius: 10px;">
        <p class="temario-index--title">Índice</p>
        <a href="#index-1" class="index-title">Sistemas Informáticos</a>
        <ul>
          <li>
            <a href="#index-1.1" class="index-subtitle">1. Sistemas digitales y numeración.</a>
          </li>
          <li>
            <a href="#index-1.2" class="index-subtitle"
              >2. Almacenamiento y componentes del sistema.</a
            >
          </li>
          <li>
            <a href="#index-1.3" class="index-subtitle">3. Lógica y componentes esenciales.</a>
          </li>
          <li>
            <a href="#index-1.4" class="index-subtitle">4. Tarjetas y periféricos.</a>
          </li>
          <li>
            <a href="#index-1.5" class="index-subtitle">5. Tecnología y seguridad.</a>
          </li>
          <li>
            <a href="#index-1.6" class="index-subtitle">6. Montaje y configuración.</a>
          </li>
        </ul>
        <a href="#index-2" class="index-title">Lenguaje de Marcas</a>
        <ul>
          <li>
            <a href="#index-2.1" class="index-subtitle">1. Introducción a HTML</a>
          </li>
          <li>
            <a href="#index-2.2" class="index-subtitle"
              >2. HTML5</a
            >
          </li>
          <li>
            <a href="#index-2.3" class="index-subtitle">3. Introducción a CSS</a>
          </li>
          <li>
            <a href="#index-2.4" class="index-subtitle">4. CSS</a>
          </li>
        </ul>
        <a href="#index-3" class="index-title">Bases de Datos</a>
        <ul>
          <li>
            <a href="#index-3.1" class="index-subtitle">1. Introducción a las bases de datos</a>
          </li>
          <li>
            <a href="#index-3.2" class="index-subtitle"
              >2. Modelado de datos. Diagramas ER (Entidad-relación)
              </a
            >
          </li>
          <li>
            <a href="#index-3.3" class="index-subtitle">3. Diseño de bases de datos relacionales</a>
          </li>
          <li>
            <a href="#index-3.4" class="index-subtitle">4. Normalización</a>
          </li>
          <li>
            <a href="#index-3.5" class="index-subtitle">5. SQL (Structured Query Language)</a>
          </li>
          <li>
            <a href="#index-3.6" class="index-subtitle">6. Consultas a bases de datos</a>
          </li>
          <li>
            <a href="#index-3.7" class="index-subtitle">7. Consultas a bases de datos</a>
          </li>
        </ul>
        <a href="#index-4" class="index-title">Programación</a>
        <ul>
          <li>
            <a href="#index-4.1" class="index-subtitle">1. Estructura de un programa informático</a>
          </li>
          <li>
            <a href="#index-4.2" class="index-subtitle"
              >2. Estructuras de control
              </a
            >
          </li>
          <li>
            <a href="#index-4.3" class="index-subtitle">3. Estructuras de almacenamiento</a>
          </li>
          <li>
            <a href="#index-4.4" class="index-subtitle">4. Orientación a objetos</a>
          </li>
          <li>
            <a href="#index-4.5" class="index-subtitle">5. Herencia y polimorfismo</a>
          </li>
          <li>
            <a href="#index-4.6" class="index-subtitle">6. Uso avanzado de clases</a>
          </li>
          <li>
            <a href="#index-4.7" class="index-subtitle">7. Flujos de datos</a>
          </li>
          <li>
            <a href="#index-4.8" class="index-subtitle">8. Base de datos</a>
          </li>
        </ul>
        <a href="#index-5" class="index-title">Entornos de Desarrollo</a>
        <ul>
          <li>
            <a href="#index-5.1" class="index-subtitle">1. Introducción a Entornos de desarrollo</a>
          </li>
          <li>
            <a href="#index-5.2" class="index-subtitle"
              >2. Entornos de programación
              </a
            >
          </li>
          <li>
            <a href="#index-5.3" class="index-subtitle">3. Herramientas de desarrollo</a>
          </li>
          <li>
            <a href="#index-5.4" class="index-subtitle">4. Control de versiones</a>
          </li>
          <li>
            <a href="#index-5.5" class="index-subtitle">5. Depuración de código</a>
          </li>
          <li>
            <a href="#index-5.6" class="index-subtitle">6. Automatización de tareas
                          </a>
          </li>
          <li>
            <a href="#index-5.7" class="index-subtitle">7. Gestión de proyectos de desarrollo

            </a>
          </li>
          <li>
            <a href="#index-5.8" class="index-subtitle">8. Desarrollo colaborativo</a>
          </li>
          <li>
            <a href="#index-5.9" class="index-subtitle">9. Documentación en desarrollo</a>
          </li>
          <li>
            <a href="#index-5.10" class="index-subtitle">10. Seguridad en desarrollo de software</a>
          </li>
        </ul>
        <a href="#index-6" class="index-title">FOL</a>
        <ul>
          <li>
            <a href="#index-6.1" class="index-subtitle">1. Introducción a la Formación y orientación laboral</a>
          </li>
          <li>
            <a href="#index-6.2" class="index-subtitle"
              >2. Derechos y obligaciones laborales
              </a
            >
          </li>
          <li>
            <a href="#index-6.3" class="index-subtitle">3. Contratos de trabajo</a>
          </li>
          <li>
            <a href="#index-6.4" class="index-subtitle">4. Seguridad social y protección social</a>
          </li>
          <li>
            <a href="#index-6.5" class="index-subtitle">5. Búsqueda de empleo</a>
          </li>
          <li>
            <a href="#index-6.6" class="index-subtitle">6. Proceso de selección y entrevistas de trabajo
                          </a>
          </li>
          <li>
            <a href="#index-6.7" class="index-subtitle">7. Prevención de riesgos laborales

            </a>
          </li>
          <li>
            <a href="#index-6.8" class="index-subtitle">8. Inserción laboral y emprendimiento</a>
          </li>
          <li>
            <a href="#index-6.9" class="index-subtitle">9. Ética y responsabilidad social en el trabajo</a>
          </li>
          <li>
            <a href="#index-6.10" class="index-subtitle">10. Actualización profesional y desarrollo de carrera</a>
          </li>
        </ul>
      </div>
      <div class="temario-info">
        <div class="sistemas-informaticos" style="background-color: #ff895d; border-radius: 10px;">
          <p id="index-1" class="sistemas-informaticos--title index-title">
            Sistemas Informáticos
          </p>
          <p>
            La asignatura de “Sistemas Informáticos” aborda la interacción entre
            hardware y software. Explora la arquitectura de procesadores,
            gestión de memoria, y aspectos prácticos como conectividad en red y
            seguridad informática. Es esencial para entender, configurar y
            optimizar sistemas en la era digital.
          </p>
          <p>0. Introducción</p>
          <ul>
            <li>CPU</li>
          </ul>
          <p id="index-1.1" class="italic">1. Sistemas digitales y numeración</p>
          <ul>
            <li>Sistemas Digitales. Sistemas de Numeración 1</li>
            <li>Sistemas Digitales. Sistemas de Numeración 2</li>
            <li>Sistemas Digitales. Sistemas de Numeración 3</li>
            <li>Sistemas Digitales. Sistemas de Numeración 4</li>
          </ul>
          <p id="index-1.2" class="italic">2. Almacenamiento y componentes del sistema</p>
          <ul>
            <li>Medidas de almacenamiento de información</li>
            <li>Dispositivos de Almacenamiento</li>
            <li>Placas Base</li>
            <li>Microprocesadores</li>
            <li>Ensamblador</li>
            <li>Arquitectura CPU</li>
          </ul>
          <p id="index-1.3" class="italic">3. Lógica y componentes esenciales</p>
          <ul>
            <li>Puertas Lógicas I</li>
            <li>Puertas Lógicas II</li>
            <li>RAM</li>
            <li>Memoria Caché</li>
            <li>Multiplexores</li>
            <li>Demultiplexores</li>
            <li>Bios</li>
          </ul>
          <p id="index-1.4" class="italic">4. Tarjetas y periféricos</p>
          <ul>
            <li>Tarjetas Gráficas</li>
            <li>Tarjetas de Sonido</li>
            <li>Tarjetas de Red</li>
            <li>Conectores</li>
            <li>Periféricos</li>
            <li>Fuentes de Alimentación</li>
            <li>Carcasas</li>
          </ul>
          <p id="index-1.5" class="italic">5. Tecnología y seguridad</p>
          <ul>
            <li>Tecnología y Discapacidad</li>
            <li>Tipos de ordenadores</li>
            <li>Prevención de Riesgos y Seguridad</li>
          </ul>
          <p id="index-1.6" class="italic">6. Montaje y configuración</p>
          <ul>
            <li>Montaje de equipos</li>
          </ul>
        </div>

        <div class="lenguaje-de-marcas" style="background-color: #ffc578; border-radius: 10px;">
          <p id="index-2" class="lenguaje-de-marcas--title index-title">
            Lenguaje de Marcas
          </p>
          <p>
            La asignatura de “Lenguaje de marcas" aborda la utilización de
            lenguajes como HTML, XML y CSS para estructurar y estilizar
            información digital. Desde la creación de páginas web hasta la
            elaboración de documentos, la asignatura capacita en la manipulación
            eficiente de contenido en entornos digitales.
          </p>
          <p id="index-2.1" class="italic">1. Introducción HTML</p>
          <ul>
            <li>HTML4, XHTML, HTML5</li>
          </ul>
          <p id="index-2.2" class="italic">2. HTML5</p>
          <ul>
            <li>Etiquetas estructurales</li>
            <li>Gestión de espacios</li>
            <li>Entidades</li>
            <li>Texto preformateado</li>
            <li>Listas</li>
            <li>Tablas</li>
            <li>Formularios</li>
            <li>Otros elementos HTML</li>
            <li>Ejemplos “Hola, Mundo”</li>
            <li>Funcionalidades HTML</li>
          </ul>
          <p id="index-2.3" class="italic">3. Introducción CSS</p>
          <ul>
            <li>Reglas CSS</li>
            <li>Selectores</li>
            <li>Propiedades y valores</li>
            <li>Ejemplos CSS</li>
          </ul>
          <p id="index-2.4" class="italic">4. CSS</p>
          <ul>
            <li>Sintaxis selector</li>
            <li>Selectores básicos</li>
            <li>Unidades de medida</li>
            <li>Colores básicos</li>
            <li>Color y fondo</li>
            <li>Texto</li>
            <li>Fuentes</li>
            <li>Listas</li>
            <li>Tablas</li>
            <li>Pseudo-clases para selección de hijos o hermanos</li>
            <li>Pseudo-clases para los estados de un elemento</li>
            <li>Pseudo-elementos</li>
            <li>Prefijos para los navegadores</li>
            <li>Modelo de cajas: márgenes, relleno y bordes</li>
            <li>Comportamiento de los contenedores</li>
            <li>Tamaño de los elementos</li>
            <li>Propiedades personalizadas</li>
            <li>Funciones matemáticas en CSS</li>
            <li>Cursores: propiedad cursor</li>
            <li>Formatos de las fuentes</li>
            <li>Sombras CSS</li>
            <li>Gradientes CSS</li>
            <li>Selector de atributos CSS</li>
            <li>Transiciones CSS</li>
            <li>Transformaciones CSS</li>
            <li>Filtros CSS</li>
          </ul>
        </div>

        <div class="bases-de-datos" style="background-color: #fff692; border-radius: 10px;">
          <p id="index-3" class="bases-de-datos--title index-title">Bases de datos</p>
          <p>
            La asignatura de “Bases de datos" se centra en el diseño y gestión
            eficiente de información estructurada. Explora modelos de datos,
            normalización y lenguajes de consulta. Es esencial para comprender
            cómo almacenar y acceder a datos de manera efectiva, una habilidad
            crucial en tecnología e información.
          </p>
          <p id="index-3.1" class="italic">1. Introducción a las bases de datos</p>
          <ul>
            <li>Definición y conceptos básicos</li>
            <li>Evolución histórica de las bases de datos</li>
            <li>Importancia en el desarrollo de aplicaciones</li>
          </ul>
          <p id="index-3.2" class="italic">
            2. Modelado de datos. Diagramas ER (Entidad-relación)
          </p>
          <ul>
            <li>Entidades y atributos</li>
            <li>Relaciones y cardinalidad</li>
            <li>Notación y técnicas de diseño</li>
          </ul>
          <p id="index-3.3" class="italic">3. Diseño de bases de datos relacionales</p>
          <ul>
            <li>Esquemas de tablas y claves</li>
            <li>Relaciones y dependencias funcionales</li>
            <li>Métodos de normalización</li>
          </ul>
          <p id="index-3.4" class="italic">4. Normalización</p>
          <ul>
            <li>Formas normales</li>
            <li>Proceso de normalización</li>
            <li>Ventajas y desventajas</li>
          </ul>
          <p id="index-3.5" class="italic">5. SQL (Structured Query Language)</p>
          <ul>
            <li>Sintaxis básica</li>
            <li>Operaciones de selección, proyección e inserción</li>
            <li>Manipulación de datos</li>
          </ul>
          <p id="index-3.6" class="italic">6. Consultas a bases de datos</p>
          <ul>
            <li>Consultas simples y complejas</li>
            <li>Funciones de agregación</li>
            <li>Operaciones de unión</li>
          </ul>
          <p id="index-3.7" class="italic">7. Procedimientos almacenados y funciones</p>
          <ul>
            <li>Creación y ejecución</li>
            <li>Parámetros y variables</li>
            <li>Ventajas y aplicaciones</li>
          </ul>
        </div>

        <div class="programacion" style="background-color: #caef91; border-radius: 10px;">
          <p id="index-4" class="programacion--title index-title">Programación</p>
          <p>
            La asignatura de “Programación" enseña la creación de software,
            cubriendo algoritmos y lógica de programación. Se aprende a
            codificar soluciones utilizando lenguajes como Java, desarrollando
            habilidades esenciales para el diseño y desarrollo de programas.
          </p>
          <p id="index-4.1" class="italic">1. Estructura de un programa informático</p>
          <ul>
            <li>Estructura y bloques fundamentales</li>
            <li>Lectura y salida por consola</li>
            <li>Variables y tipos de datos</li>
            <li>Operadores, expresiones y conversiones</li>
          </ul>
          <p id="index-4.2" class="italic">2. Estructuras de control</p>
          <ul>
            <li>Estructuras de selección</li>
            <li>Estructuras de repetición</li>
            <li>Estructuras de salto</li>
          </ul>
          <p id="index-4.3" class="italic">3. Estructuras de almacenamiento</p>
          <ul>
            <li>Arrays unidimensionales</li>
            <li>Array multidimensionales</li>
            <li>ArrayList</li>
            <li>HashTable</li>
            <li>Otras colecciones</li>
          </ul>
          <p id="index-4.4" class="italic">4. Orientación a objetos</p>
          <ul>
            <li>Introducción</li>
            <li>Conceptos</li>
            <li>Clases</li>
          </ul>
          <p id="index-4.5" class="italic">5. Herencia y polimorfismo</p>
          <ul>
            <li>Herencia</li>
            <li>Polimorfismo</li>
          </ul>
          <p id="index-4.6" class="italic">6. Uso avanzado de clases</p>
          <ul>
            <li>Constructores estáticos</li>
            <li>Clases anónimas</li>
            <li>Clases anidadas</li>
            <li>Genéricos</li>
            <li>Excepciones</li>
          </ul>
          <p id="index-4.7" class="italic">7. Flujos de datos</p>
          <ul>
            <li>Flujo de datos</li>
            <li>Entradas/Salida por teclado</li>
            <li>Almacenamiento en ficheros</li>
          </ul>
          <p id="index-4.8" class="italic">8. Base de datos</p>
          <ul>
            <li>Interfaces de conexión</li>
            <li>Operaciones mediante JDBC</li>
            <li>Conexión con base de datos Mongo</li>
          </ul>
        </div>

        <div class="entornos-de-desarrollo" style="background-color: #92d0ff; border-radius: 10px;">
          <p id="index-5" class="entornos-de-desarrollo--title index-title">
            Entornos de desarrollo
          </p>
          <p>
            La asignatura de “Entornos de Desarrollo” se centra en enseñar
            herramientas y habilidades clave para la creación eficiente de
            software. Cubre entornos de programación, técnicas de depuración y
            gestión de proyectos, proporcionando conocimientos prácticos para el
            desarrollo de aplicaciones.
          </p>
          <p id="index-5.1" class="italic">1. Introducción a Entornos de desarrollo</p>
          <ul>
            <li>Definición y propósito</li>
            <li>Evolución y tendencias</li>
          </ul>
          <p id="index-5.2" class="italic">2. Entornos de programación</p>
          <ul>
            <li>Selección de lenguajes de programación</li>
            <li>Configuración y personalización del entorno</li>
          </ul>
          <p id="index-5.3" class="italic">3. Herramientas de desarrollo</p>
          <ul>
            <li>Editores de código</li>
            <li>Compiladores e intérpretes</li>
            <li>Entornos integrados de desarrollo (IDE)</li>
          </ul>
          <p id="index-5.4" class="italic">4. Control de versiones</p>
          <ul>
            <li>Conceptos básicos</li>
            <li>Utilización de sistemas de control de versiones (Git, SVN)</li>
          </ul>
          <p id="index-5.5" class="italic">5. Depuración de código</p>
          <ul>
            <li>Técnicas y estrategias de depuración</li>
            <li>Herramientas de depuración</li>
          </ul>
          <p id="index-5.6" class="italic">6. Automatización de tareas</p>
          <ul>
            <li>Scripts y automatización de procesos</li>
            <li>Herramientas de construcción (Build tools)</li>
          </ul>
          <p id="index-5.7" class="italic">7. Gestión de proyectos de desarrollo</p>
          <ul>
            <li>Metodologías de desarrollo</li>
            <li>Herramientas de gestión de proyectos (Jira, Trello)</li>
          </ul>
          <p id="index-5.8" class="italic">8. Desarrollo colaborativo</p>
          <ul>
            <li>Entornos de colaboración en línea</li>
            <li>Integración continua (CI/CD)</li>
          </ul>
          <p id="index-5.9" class="italic">9. Documentación en desarrollo</p>
          <ul>
            <li>Importancia y tipos de documentación</li>
            <li>Herramientas de generación de documentación</li>
          </ul>
          <p id="index-5.10" class="italic">10. Seguridad en desarrollo de software</p>
          <ul>
            <li>Buenas prácticas de seguridad</li>
            <li>Herramientas y enfoques para asegurar el código</li>
          </ul>
        </div>

        <div class="FOL" style="background-color: #c1acff; border-radius: 10px;">
          <p id="index-6" class="fol--title index-title">FOL</p>
          <p>
            La asignatura de FOL aborda conocimientos clave sobre derechos
            laborales, búsqueda de empleo, prevención de riesgos y desarrollo
            profesional. Es esencial para prepararse eficazmente para el entorno
            laboral.
          </p>
          <p id="index-6.1" class="italic">1. Introducción a la Formación y orientación laboral</p>
          <ul>
            <li>Definición y objetivos de la asignatura</li>
            <li>Marco legal y normativo laboral</li>
            <li>Evolución del mercado laboral</li>
            <li>Tendencias y cambios en el empleo</li>
          </ul>
          <p id="index-6.2" class="italic">2. Derechos y obligaciones laborales</p>
          <ul>
            <li>Derechos básicos de los trabajadores</li>
            <li>Obligaciones de empleadores y empleados</li>
            <li>Acoso laboral y discriminación</li>
          </ul>
          <p id="index-6.3" class="italic">3. Contratos de trabajo</p>
          <ul>
            <li>Tipos de contratos laborales</li>
            <li>Elementos y condiciones contractuales</li>
            <li>Modificaciones contractuales y extinción del contrato</li>
            <li>Contratos temporales y contratos a tiempo parcial</li>
          </ul>
          <p id="index-6.4" class="italic">4. Seguridad social y protección social</p>
          <ul>
            <li>Sistemas de seguridad social</li>
            <li>Prestaciones y subsidios</li>
            <li>Incapacidad laboral y pensiones</li>
            <li>Seguridad en el trabajo y normativas de higiene</li>
          </ul>
          <p id="index-6.5" class="italic">5. Búsqueda de empleo</p>
          <ul>
            <li>Estrategias efectivas de búsqueda de empleo</li>
            <li>Elaboración de currículum vitae y cartas de presentación</li>
            <li>Portales de empleo y redes profesionales</li>
            <li>Técnicas de networking y marca personal</li>
          </ul>
          <p id="index-6.6" class="italic">6. Proceso de selección y entrevistas de trabajo</p>
          <ul>
            <li>Etapas y técnicas de selección de personal</li>
            <li>Preparación para entrevistas laborales</li>
            <li>Evaluación de competencias y pruebas psicométricas</li>
            <li>Feedback post-entrevista y negociación salarial</li>
          </ul>
          <p id="index-6.7" class="italic">7. Prevención de riesgos laborales</p>
          <ul>
            <li>Conceptos básicos de seguridad y salud en el trabajo</li>
            <li> Medidas de prevención y protección</li>
            <li>Evaluación de riesgos laborales</li>
            <li>Planificación de emergencias y evacuación</li>
          </ul>
          <p id="index-6.8" class="italic">8. Inserción laboral y emprendimiento</p>
          <ul>
            <li>Programas de inserción laboral</li>
            <li>Conceptos básicos de emprendimiento</li>
            <li>Creación y gestión de pequeños negocios</li>
            <li>Financiamiento y apoyo a emprendedores</li>
          </ul>
          <p id="index-6.9" class="italic">9. Ética y responsabilidad social en el trabajo</p>
          <ul>
            <li>Principios éticos en el ámbito laboral</li>
            <li>Responsabilidad social corporativa</li>
            <li>Diversidad e inclusión en el entorno laboral</li>
            <li>Impacto ambiental y sostenibilidad</li>
          </ul>
          <p id="index-6.10" class="italic">10. Actualización profesional y desarrollo de carrera</p>
          <ul>
            <li>Importancia de la formación continua</li>
            <li>Planificación y gestión del desarrollo profesional</li>
            <li>Herramientas y recursos para el aprendizaje continuo</li>
            <li>Adaptación a cambios tecnológicos y tendencias laborales</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer">
      <div>
        <span class="footer-text">&copy;2024 Isabel Andaluz Fernández</span>
      </div>
      <div>
        <span class="footer-text">FullStack Developer</span>
      </div>
      <div class="icons">
        <a href="https://github.com/whoisnitro" target="_blank">
          <img
            src="../assets/icons/github.png"
            alt="github"
            width="32"
            class="img"
          />
        </a>
        <a href="https://www.linkedin.com/in/isabelandaluz/" target="_blank">
          <img
            src="../assets/icons/linkedin.png"
            alt="linkedin"
            width="32"
            class="img"
          />
        </a>
        <a href="https://www.instagram.com/art.nitro/?hl=es" target="_blank">
          <img
            src="../assets/icons/instagram.png"
            alt="instagram"
            width="32"
            class="img"
          />
        </a>
      </div>
    </div>
  </body>
</html>